/* General styling for the appointment list container */
.appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for appointment list */
.appointment-list {
  padding: 0px;
}

/* Styling for individual appointment items */
.appointment-item {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-appointment-button {
  padding: 10px 20px;
  margin: 10px 0 20px; /* Adds margin to space it from the list */
  color: white;
  background-color: #28a745; /* A green color indicating a positive action */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.create-appointment-button:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Responsive styling for tablets */
@media (max-width: 768px) {
  .appointment-container {
    max-width: 90%;
    padding: 15px;
  }

  .appointment-item {
    padding: 8px;
    font-size: 0.95rem;
    /* Slightly smaller font for better readability on tablets */
  }
}

/* Responsive styling for mobile devices */
@media (max-width: 480px) {
  .appointment-container {
    max-width: 100%;
    padding: 10px;
  }

  .appointment-item {
    padding: 5px;
    font-size: 0.9rem;
    /* Smaller font size for mobile devices */
    flex-direction: column;
    /* Stack elements vertically on smaller screens */
    text-align: center;
    /* Center text for better aesthetics on small screens */
  }
}